body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
    position: relative;
    flex: 1;
    display: flex;
    
  }
  
  .react-autosuggest__input {
    width: 100%;
    padding: 10px 20px;
    font-family: 'Droid Arabic Kufi', 'Ubuntu', 'Roboto';
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
    
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: calc(100% + 24px * 2);
    border: 0px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 10px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }


  
  .react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
  }
  
  .react-autosuggest__section-container--first {
    border-top: 0;
  }
  .react-autosuggest__section-title {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #777;
    text-transform: uppercase;
  }
  