body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
body::-webkit-scrollbar{
	width: 0.55em;
	background-color: #F2D7EE;
}

body::-webkit-scrollbar-thumb{
	background-color: #412a55;
	/*background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));*/
}
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


textarea {
  width: 100%;
}

/* Adjustments for carousel */
.control-dots {
  padding: 0 !important;
}

/* Adjustments for slick-slider */
.slick-slide {
  height: auto !important;
}
.slick-track {
  display: flex !important;
}
.slick-slide > div {
  height: 100%;
  text-align: center;
}
.slick-slide > div > div {
  height: 100%;
}
[dir='rtl'] .slick-next{ right: -30px !important; left: auto !important; }
[dir='rtl'] .slick-prev{ left: -42px !important; right: auto !important; }
[dir='rtl'] .slick-next:before{ content: '→' !important; }
[dir='rtl'] .slick-prev:before{ content: '←' !important; }


.magnifier {
  top: calc(50% - 350px / 2);
  left: 0;
  right: 0;
  position: absolute
}
.magnifier-image {
  object-fit: contain;
}
